<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in orci aliquam, congue dolor at, blandit enim. Proin eleifend magna vel dapibus ultrices. Nullam placerat nisi eu turpis auctor, id laoreet justo aliquet. In est arcu, blandit consectetur dolor non, pharetra vehicula dolor. Morbi elementum, nibh nec tristique sagittis, ipsum urna volutpat neque, sed consectetur lectus eros et purus. Nullam sed velit sem. Cras placerat congue metus, et lacinia erat ultricies in. Duis at leo vitae ligula varius faucibus. Curabitur venenatis orci nec dui ullamcorper, eu faucibus risus pulvinar. Etiam posuere ipsum vitae est commodo, cursus condimentum elit ultrices. Sed varius lorem id feugiat facilisis. Nulla facilisi. Nullam sapien massa, consequat eget libero vel, ultrices rutrum magna. 
            </p>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i>(00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i>(00) 0000-0000</li>
            </ul>
        </address>
        </section>
    </div>
    <section class="footer__copyright">
        Todos os direitos reservados
    </section>
</footer>
